html body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8990ec;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
p,
div {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 25%;
  height: 60%;
  background-color: #272639;
  padding: 1rem;
  border-radius: 10px;
}
.content--container {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  color: white;
  gap: 1.5rem;
}
.bill-total--wrapper {
  color: white;
}
.bill-total--wrapper .bill-total {
  font-weight: bold;
  margin-bottom: 0.7rem;
  color: white;
}
.input--wrapper {
  display: flex;
  background-color: #353959;
  padding: 0.2rem 0.7rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  font-size: 20px;
}
input {
  outline: none;
  border: none;
  flex-grow: 1;
  background-color: transparent;
  font-size: 20px;
  margin-left: 0.5rem;
  color: white;
}
input::placeholder {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.people-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 500;
}
.tips--wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
}
.increment-decrement {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 20px;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  background-color: white;
  color: black;
  cursor: pointer;
}
.per-person {
  font-size: 2rem;
  font-weight: bolder;
}
