html body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
* *::before *::after {
  box-sizing: border-box;
}

.box-wrapper {
  display: flex;
  background-color: red;
  max-width: 50%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
#box-1,
#box-2,
#box-3,
#box-4 {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  width: 7rem;
  border-radius: 5px;
  cursor: pointer;
}
